*{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    background: #23252C;
    
}

.body{
    margin-left: 40%;
    margin-top: 40px;
}

info{
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #1A1B21;
    margin:0;
    
}

.info_photo{
    width: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info_name{
    color: white;
    font-size: 700;
    align-self: center;
    background: #1A1B21;
    margin:0;
    padding-top: 20px;
}

.info_position{
    color: #F3BF99;
    font-size: 13px;
    font-weight: 400;
    align-self: center;
    background: #1A1B21;
    margin:0;
    padding-top: 6px;
}

.info_website{
    color: #F5F5F5;
    font-size: 10px;
    font-weight: 400;
    align-self: center;
    background: #1A1B21;
    margin:0;
    padding-top: 9px;
}

.info_button_container{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    align-content: auto;
    margin:0;
    background: #1A1B21;
    
}

.info_emailbutton{  
    display: flex;
    align-items: center;
    padding: 9px 13px 9px 11px;
    width: 115px;
    height: 34px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-sizing: border-box;
    border-radius: 6px;
    margin-right: 17px;
}

.info_emailbutton > img{
    position: static;
    width: 16px;
    height: 16px;
    left: 26.5px;
    top: 9px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}

.info_linkedinbutton{
    display: flex;
    align-items: center;
    background: #5093E2;
    border: 1px solid #5093E2;
    width: 115px;
    height: 34px;

    border-radius: 6px;
    
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    
}

.info_linkedinbutton > img{
    position: static;
    width: 16px;
    height: 16px;
    left: 16px;
    top: 9px;

    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
    background-color: #5093E2;
}

about{
    padding-top: 33px;
    width: 300px;
    background: #1A1B21;
}

.about_title{
    margin: 0px;
    width: 250px;

    color: #F5F5F5;
    background: #1A1B21;
    font-weight: 700;
    font-size: 16px;
}

.about_para1{
    margin: 0px;
    padding-top: 5px;
    width: 250px;

    font-size: 10px;
    color: #DCDCDC;
    background: #1A1B21;
}

.interests_body{
    padding-top: 25px;
    width: 300px;

    background: #1A1B21;
}

.interests_title{
    margin: 0px;
    width: 250px;

    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #F5F5F5;
    background: #1A1B21;
}

.interests_para1{
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 30px;
    width: 250px; 
    font-weight: 400;
    font-size: 10px;
    color: #DCDCDC;
    background: #1A1B21;
}


.footer_body{
    padding-top: 15px;
    width: 300px;

    background: #161619;
    
    height: 65px;
    
}

.footer_container{
    margin: 0px;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    align-content: auto;
    margin:0;
    background: #161619;
    gap: 25px;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 20px;
}

.footer_twit{  
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    
}

.footer_fb{  
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    
}

.footer_insta{  
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    
}

.footer_git{  
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    
}